<form action="/items" method="post">
  <label for="title">Job Title</label>
  <input id="title" name="title" type="text">

  <label for="description">Job Description</label>
  <input id="description" name="description" type="text">

  <label for="contact">Contact Information</label>
  <input id="contact" name="contact" type="text">

  <button type="submit">Submit</button>
</form>